.cards-header h2 {
  text-align: center;
  color: black;
  text-shadow: 0 0 0 rgba(255,255,255,0.3);
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  text-align: center;
  margin: 16px 16px;
}

.card img {
  height: 120px;
  widows: 120px;
  object-fit: cover;
  object-position: center;
  margin-top: 8px;
}

.card p {
  color: #c1bdbd;
}
